<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <li>Restaurant name: <%= link_to restaurant.name, restaurant_path(restaurant)%>
    <br>Restaurant address: <%= restaurant.address %>
    <br>Restaurant category: <%= restaurant.category.capitalize %>
    </li>
  <% end %>

</ul>
